<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <title>Fetch Coursera Courses</title>
  </head>
  <body>


    <div class="container">
        <div class="row">
            <div class="col">

                <div class="mb-3  mt-3">

                    <h2 class="mb-3"  style="font-weight: 300">Fetch Coursera Crouses</h2>

                    <form class="form" action="/fetch_courses" id="fetchForm" method="post">
                        <label class="my-1 mr-2" for="formCustomSelectCat">Categories</label>
                        <select class="custom-select my-1 mr-sm-2" name="formCustomSelectCat">
                          <option selected>Choose...</option>
                          <option value="1">Data Science</option>
                          <option value="2">Business</option>
                          <option value="3">Computer Science</option>
                          <option value="4">Personal Development</option>
                          <option value="5">Information Technology</option>
                          <option value="6">Language Learning</option>
                          <option value="7">Health</option>
                          <option value="8">Math and Logic</option>
                          <option value="9">Social Science</option>
                          <option value="10">Physical Science and Engineering</option>
                          <option value="11">Arts and Humanities</option>
                        </select>


                        <button type="submit" class="btn btn-primary my-1" id="process_btn">Submit</button>
                        <button class="btn btn-primary d-none" id="processing_btn" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Wait for few minutes ...
                        </button>
                    </form>

                    <form class="form" action="/downloadlist" method="get">
                        <button type="submit" class="btn btn-primary my-1">Download List</button>
                    </form>

                    <form class="form" action="/restorecookies" method="get">
                        <button type="submit" class="btn btn-primary my-1">Reset</button>
                    </form>


                </div>

                <div id="alert_wrapper"></div>

            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
          $(".process_btn").click(function(){
             var formCustomSelectCat = $('.formCustomSelectCat option:selected').val();
             if(formCustomSelectCat == "") {
                return false;
             }
          });
        });
    </script>
    <script>

        {#var process_btn = document.getElementById("process_btn");#}
        {#var processing_btn = document.getElementById("processing_btn");#}
        {#var alert_wrapper = document.getElementById("alert_wrapper");#}
        {##}
        {#var fetchForm = document.getElementById("fetchForm");#}
        {#var formCustomSelectCat = document.getElementById("formCustomSelectCat");#}
        {##}
        {#function show_alert(message, alert) {#}
        {#    alert_wrapper.innterHTML = `#}
        {#        <div class="alert alert-${alert} alert-dismissible fade show" role="alert">#}
        {#        <span>${message}</span>#}
        {#        <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
        {#            <span aria-hidden="true">&times;</span>#}
        {#        </button>#}
        {#        </div>#}
        {#    `;#}
        {#};#}
        {##}
        {##}
        {#function fetch(){#}
        {#    url = "/fetch_courses";#}
        {#    console.log('This is the url', formCustomSelectCat.value)#}
        {#    if (formCustomSelectCat.value == "Choose..."){#}
        {#        show_alert("No category selected.", "warning");#}
        {#        return;#}
        {#    }#}
        {#    var data = new FormData();#}
        {#    var request = new XMLHttpRequest();#}
        {#    request.responseType = "json";#}
        {##}
        {#    alert_wrapper.innerHTML = "";#}
        {#    formCustomSelectCat.disabled = true;#}
            {#process_btn.style.display = "block";#}
            {#processing_btn.style.display = "none";#}
        {#    process_btn.classList.add("d-none");#}
        {#    processing_btn.classList.remove("d-none");#}
        {#    request.addEventListener("load", function(e) {#}
        {##}
        {#        if (request.status == 200) {#}
        {#            alert_wrapper.innerHTML = `${request.response["message"]}`#}
        {#        }#}
        {#    })#}
        {##}
        {#    data.append("category", formCustomSelectCat.value);#}
        {#    request.open("post", url);#}
        {#    request.send(data);#}
        {#    show_alert(request.response["message"], "success");#}
        {#    alert_wrapper.innerHTML = `${request.response["message"]}`#}
        {##}
        {#    return;#}
        {##}
        {#}#}


    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>